Repository tue-bmd/zea, pull requests merged in 2025-08, with the labels that each got.

#73 Update `GreedyEntropy` entropy approximation to match cognitive ultrasound paper
  zea/agent/selection.py
Labels: agent

#75 Diffusion call choose network and training type
  zea/models/diffusion.py
Labels: models

#86 Add Doppler
  docs/source/_autosummary/zea.rst
  docs/source/notebooks/pipeline/doppler.gif
  docs/source/notebooks/pipeline/doppler_example.ipynb
  tests/test_notebooks.py
  tests/test_tensor_ops.py
  zea/doppler.py
  zea/internal/notebooks.py
  zea/tensor_ops.py
Labels: enhancement, ultrasound

#85 Small fixes and improvements
  poetry.lock
  pyproject.toml
  tests/test_io_lib.py
  zea/internal/operators.py
  zea/io_lib.py
  zea/tensor_ops.py
  zea/tools/selection_tool.py
Labels: enhancement
